{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>班级活动</title>
{% endblock %}

{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'market/css/honor.css' %}">
{% endblock %}

{% block content %}
    <ul class="honor">
        <li>
            <p class="title">春游活动</p>
            <div class="ig">
                <img  class="img" src="{% static 'home/img/1.jpg' %}" alt="">
                <img  class="img" src="{% static 'home/img/1.jpg' %}" alt="">
                <img  class="img" src="{% static 'home/img/1.jpg' %}" alt="">
            </div>


            <div class="show">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、活动意义：

为了促进本班同学间的交流，营造和谐融洽的集体氛围，丰富班级同学的校园生活，陶冶情操，同时领略农家自然风情。

二、活动主题：放松心情，完美生活！

三、活动组织：

1、活动负责：本班全体班委

2、活动策划：班长和团支书

3、活动地点：福山庄

4、活动时间：2019年5月19日

5、参加人员：计算151全体同学

四、活动内容

1、前期准备

1)李品负责联系场地、专车、结账。

2)石晶负责统计自愿参加这次活动的成员名单。

3)彭琪跟据班上同学提出的各种游戏，选择一些到时将要进行的团队游戏。

5)所需物品：饮料四瓶（中午吃饭时用）、水或其它物品个人结合自身情况自备。

2、活动进程

1)早上8:30在张仲景象前集合，8:40集合完毕。9:00坐车，10:00左右到达。在前去山庄的路上，可大体介绍一下本次活动的流程。

2)10:10—11:10,自由活动时间，大家可以熟悉一下山庄的环境，自由游玩。

3)11:20—12:20,团队游戏时间。

4)12:30—14:00,中餐时间，男女生可交叉做。

大学班级活动策划方案5篇大学班级活动策划方案5篇

5)14:10—15:10,团队游戏时间。

6)15:20—18:00,自由活动，跟据自己喜好，尽情玩乐。

7)18:10—18:20,清查人数，准备坐车返校。

五、经费预算

1、场地费40元/人，包车费15元/人，共计55元/人。中餐饮料费用由班费出。

2、游戏当中对胜出团队可采用物质奖励，所需经费由班费出。

六、备注

1、活动中穿插适当的团队游戏，用以调解游玩的气氛，增强大家的团队意识，增加对彼此的了解。

2、本次活动人员管理以寝室为单位，寝室长负责制，寝室长不在的，由寝室成员选定一人负责。

3、此次活动安排二人照相。

4、活动中有请假或中途离开者需及时向每组负责人报告。

5、活动中出现意外情况时，第一时间通知活动策划组。

6、本活动最终解释权归活动策划小组。
            </div>

        </li>




    </ul>
{% endblock %}