{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>公告</title>
{% endblock %}
{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'home/css/ann.css' %}">
{% endblock %}


{% block content %}
    <div class="ann">
        <div class="content"><p style="text-align: center;"><img alt="计算151班级聚餐通知" src="//pic.ruiwen.com/allimg/201601/3956-16012915053dh.jpg?x-oss-process=style/qr.ruiwen"></p><h2>　　</h2><p>　　<strong>活动名称：</strong>平安夜班级聚餐</p><p>　　<strong>活动主题：</strong>为了促进我们班级更加和谐，希望通过开展各种班级活动来增加同学们之间的交流，从而更好的让同学们在学习生活中更好的合作共处，让大家融入整个班级。所以本次聚会以聚餐的方式，并且在平安夜的晚上进行，这样让大家过一个难忘的平安夜，有我们所有人一起过平安夜，大家一定平安入夜。</p><p>　　<strong>活动时间：</strong>2018年4月12晚上6：30(平安夜)</p><p>　　<strong>活动地点：</strong>品味轩</p><p>　　<strong>活动人员：</strong>计算151全体同学外加两位素助学姐(32人)</p><p>　　<strong>活动经费预算：</strong>2桌，每桌16人，每桌三百多，加上酒水，差不多900元左右，费用控制在1000元以内，开销从班费中抽取，开销对大家是公开曝光。</p><p>　　<strong>活动策划负责人：</strong>班长和团支书。</p><p>　　<strong>活动前期：</strong>预先订好聚餐地点、时间、以及菜目(提前由大家点菜，经济实惠即可)，一切完备之后，在平安夜晚上6点提前在校门口集合，6点半开始上菜。</p><p>　　<strong>活动注意:</strong>由于平安夜，娱乐色彩浓，外面比较乱，并且要过马路，所以保护大家的安全是第一。希望大家依旧要注意安全，喝酒也要注意，尽量不要喝。</p>
    </div>

{% endblock %}