{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>班级荣誉</title>
{% endblock %}
{% block EXTCSS %}
    <link rel="stylesheet" href="{% static 'market/css/honor.css' %}">
{% endblock %}

{% block content %}
    <ul class="honor">
        <li>
            <p class="title">荣誉一</p>
            <div class="ig">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
            </div>


            <div class="show">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;久前，满脸潮红的我们带着行李迈进昌大；
不久前，身姿活力的我们领着各种招新单子行走在校园；
不久前，五湖四海的我们穿着同样的迷彩洒在场地。一切就这样理所应当，情真意切。
我们相聚在一班，在无数次沉默在试卷之后，在千万次呓语在梦里憧憬后——如此珍贵，如此难得。
我们相识于一班，拽着渐渐成熟的生命中不移的梦想，怀着敢闯敢拼的青春里倔强的执着——如此坚定，如此同心。
54颗笑脸，在南昌的火热炙烤下绽放，带着汗水，我们在心里确定，这四年，就是我们一起挥洒汗水的日子。54声呐喊，在军训场地齐步前进中飘荡，携着笑声，我们在心里低唱，这四年，就是我们一起奋起拼搏的日子。
在导员周朝华老师的谆谆教诲和耐心指导下，我们这个刚刚组建两个多月的班级一步步走向班级目标：每个人都想成为心中羡慕的那个人，而我们要成为别人眼里的那个人。在运动会中，班委积极地组织，对本班以及本学院的运动员贴心的照顾，在观众席中爆发的声声呐喊，如滚滚天雷，气势逼人。在红歌赛中，我班独树一帜挑战无伴奏演唱，“冠军重担谁来挑，工业工程121”响亮的口号耳目一新。在心理班会上，新颖的视频，感人的父母电话录音，高参与的有趣游戏，充满希望的放飞孔明灯环节，为我们赢得了老师与领导的称赞......
犹记得，出游时车上一齐歌唱的情景；犹记得，午饭时大家各自分工的大人架势；犹记得，高数课上勤奋的脸庞；犹记得军训时那一幅幅内敛模样......
            </div>

        </li>

        <li>
            <p class="title">荣誉二</p>
            <div class="ig">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
            </div>


            <div class="show">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;久前，满脸潮红的我们带着行李迈进昌大；
不久前，身姿活力的我们领着各种招新单子行走在校园；
不久前，五湖四海的我们穿着同样的迷彩洒在场地。一切就这样理所应当，情真意切。
我们相聚在一班，在无数次沉默在试卷之后，在千万次呓语在梦里憧憬后——如此珍贵，如此难得。
我们相识于一班，拽着渐渐成熟的生命中不移的梦想，怀着敢闯敢拼的青春里倔强的执着——如此坚定，如此同心。
54颗笑脸，在南昌的火热炙烤下绽放，带着汗水，我们在心里确定，这四年，就是我们一起挥洒汗水的日子。54声呐喊，在军训场地齐步前进中飘荡，携着笑声，我们在心里低唱，这四年，就是我们一起奋起拼搏的日子。
在导员周朝华老师的谆谆教诲和耐心指导下，我们这个刚刚组建两个多月的班级一步步走向班级目标：每个人都想成为心中羡慕的那个人，而我们要成为别人眼里的那个人。在运动会中，班委积极地组织，对本班以及本学院的运动员贴心的照顾，在观众席中爆发的声声呐喊，如滚滚天雷，气势逼人。在红歌赛中，我班独树一帜挑战无伴奏演唱，“冠军重担谁来挑，工业工程121”响亮的口号耳目一新。在心理班会上，新颖的视频，感人的父母电话录音，高参与的有趣游戏，充满希望的放飞孔明灯环节，为我们赢得了老师与领导的称赞......
犹记得，出游时车上一齐歌唱的情景；犹记得，午饭时大家各自分工的大人架势；犹记得，高数课上勤奋的脸庞；犹记得军训时那一幅幅内敛模样......
            </div>

        </li>

        <li>
            <p class="title">荣誉三</p>
            <div class="ig">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
                <img  class="img" src="{% static 'market/img/axf.png' %}" alt="">
            </div>


            <div class="show">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;久前，满脸潮红的我们带着行李迈进昌大；
不久前，身姿活力的我们领着各种招新单子行走在校园；
不久前，五湖四海的我们穿着同样的迷彩洒在场地。一切就这样理所应当，情真意切。
我们相聚在一班，在无数次沉默在试卷之后，在千万次呓语在梦里憧憬后——如此珍贵，如此难得。
我们相识于一班，拽着渐渐成熟的生命中不移的梦想，怀着敢闯敢拼的青春里倔强的执着——如此坚定，如此同心。
54颗笑脸，在南昌的火热炙烤下绽放，带着汗水，我们在心里确定，这四年，就是我们一起挥洒汗水的日子。54声呐喊，在军训场地齐步前进中飘荡，携着笑声，我们在心里低唱，这四年，就是我们一起奋起拼搏的日子。
在导员周朝华老师的谆谆教诲和耐心指导下，我们这个刚刚组建两个多月的班级一步步走向班级目标：每个人都想成为心中羡慕的那个人，而我们要成为别人眼里的那个人。在运动会中，班委积极地组织，对本班以及本学院的运动员贴心的照顾，在观众席中爆发的声声呐喊，如滚滚天雷，气势逼人。在红歌赛中，我班独树一帜挑战无伴奏演唱，“冠军重担谁来挑，工业工程121”响亮的口号耳目一新。在心理班会上，新颖的视频，感人的父母电话录音，高参与的有趣游戏，充满希望的放飞孔明灯环节，为我们赢得了老师与领导的称赞......
犹记得，出游时车上一齐歌唱的情景；犹记得，午饭时大家各自分工的大人架势；犹记得，高数课上勤奋的脸庞；犹记得军训时那一幅幅内敛模样......
            </div>

        </li>


    </ul>
{% endblock %}