{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>xy简介</title>
{% endblock %}

{% block content %}
    <h3>简介</h3>
    <div>
    信息与计算科学专业（Information and Computing Science）原名”计算数学”，1987年更名为“计算数学及其应用软件”，1998年教育部将其更名为“信息与计算科学”，是以信息领域为背景，数学与信息，计算机管理相结合的数学类专业。该专业培养的学生具有良好的数学基础，能熟练地使用计算机，初步具备在信息与计算机科学领域的某个方向上从事科学研究，解决实际问题，设计开发有关计算机软件的能力。
信息与计算科学专业为理科专业，包括信息科学与计算数学两个方面。方向一是以计算机科学方面为主，数学方面为辅；方向二是以数学方面为主，计算机科学方面为辅

<h3>主要课程</h3>
数学分析、高等代数、解析几何、概率统计、数学模型、离散数学、模糊数学、实变函数、复变函数、微分方程、物理学、信息处理、信息编码与信息安全、现代密码学教程、计算智能、计算机科学基础、数值计算方法、数据挖掘、最优化理论、运筹学、计算机组成原理、计算机网络、计算机图形学、c/c++语言、java语言、汇编语言、算法与数据结构、数据库应用技术、软件系统、操作系统等。
主要实践性教学环节：包括生产实习，科研训练，毕业论文（毕业设计）等，一般安排10--20周。
    </div>
{% endblock %}